<div class="row section center container white form hoverable z-depth-5">

<%= link_to "Donor Section", new_donor_session_path, class: "btn-large row z-depth-2" %> <br/>
<%= link_to "Blood Bank Section", new_bank_session_path, class: "btn-large row z-depth-2" %> <br/>
<%= link_to "Hospital Section", new_hospital_session_path, class: "btn-large row z-depth-2" %> <br/>

</div>